<%- include('snippets/head')%>

<link rel="stylesheet" href="/css/book.css" >

</head>

<body>
    <header class="mainHeader">
        <%- include('snippets/nav')%>
    </header>

    <main>

        <% if(hasBooks){ %>
        <h1 class="booksTitle" >Books</h1>
        <div class="grid">
            <% for(let book of books){ %>
            <article class="card book-item">
                <div class="cardContent">
                    <h2 class="bookInfo"><%= book.bookTitle %></h2>
                    <p class="bookInfo"><%= book.summary %></p>
                </div>
            </article>
            <% } %>
        </div>
        <% } else{ %>
        <h1>No Books Found</h1> 
        <% } %>
        
    </main>
<%- include('snippets/footer') %>